/*
 * Hack::Ardennes - Git Game
 */

/***** RESET CSS *****/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
        box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    padding-top: 30px;
    position: relative;
    background: url('img/bg.jpg') fixed no-repeat;
    background-size: cover;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    margin-bottom: 30px;
    font-family: "open_sansbold", sans-serif;
    font-size: 36px;
	text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #E23EA1;
}

a:hover {
    color: #E23EA1;
}

.gg-logo {
    margin: 0 auto;
    height: 60px; width: 150px;
    background: url('img/logo.png') no-repeat 0 0;
    background-size: 150px 60px;
}

.gg-title {
    margin: 0 auto;
    height: 120px; width: 464px;
    background: url('img/title.png') no-repeat 0 0;
    background-size: 464px 120px;
}

.gg-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.gg-metrology-data {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 90%;
}

.gg-metrology-data > table {
    width: 100%;
    font-family: "open_sansbold", sans-serif;
    font-size: 22px;
    color: #FFFFFF;
    text-align: right;
}

.gg-metrology-data > table > tr {
    height: 30px;
}

.gg-metrology-data > table > tr > td {
    line-height: 30px;
}

.gg-metrology-data td.first {
    text-align: left;
}

.gg-metrology {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content : space-between;
}

.gg-metrology > img {
	max-width: 50%;
	margin-bottom: 30px;
}

@media(max-width: 1024px) {
    .gg-metrology-data > table {
	    font-size: 18px;
    }
    
    .gg-metrology {
	    width: 90%;
    }
}

@media(max-width: 780px) {
    .gg-metrology-data > table {
	    font-size: 14px;
    }
    
}

@media(max-width: 640px) {
    .gg-title {
	    height: 83px; width: 320px;
	    background-size: 320px 83px;
    }
	
	.gg-metrology-data {
		display: none;
	}
	
	.gg-metrology {
		
	}
	
	.gg-metrology > img {
		max-width: 100%;
	}
}